<h2>Reactivo: <small>Dinámicos</small></h2>
<hr>

<form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input type="text" 
                    class="form-control" 
                    placeholder="Nombre de la persona" 
                    formControlName="nombre">
            <span class="form-text text-danger" 
            *ngIf="campoNoValido('nombre')" >
                El campo es requerido
            </span>
        </div>
    </div>
    
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control" placeholder="Agregar favorito" [formControl]="nuevoFavorito" (keyup.enter)="agregarFavorito()">
                <button class="btn btn-outline-primary" (click)="agregarFavorito()" type="button">Agregar</button>
            </div>

        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9" formArrayName="favoritos">
            
             <div class="input-group mb-1"
             *ngFor="let item of favoritosArr.controls; let i = index">
                <input type="text" class="form-control"
                        [formControlName]="i">
                <button class="btn btn-outline-danger" (click)="borrarFavorito(i)" type="button">Eliminar</button>
            </div> 
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="submit"
                class="btn btn-primary float-end">
                Guardar
            </button>
        </div>
    </div>
</form>

<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{ miFormulario.valid }}</pre>

        <span>Pristine</span>
        <pre>{{ miFormulario.pristine }}</pre>

        <span>Touched</span>
        <pre>{{ miFormulario.touched }}</pre>

        <span>Value</span>
        <pre>{{ miFormulario.value | json }}</pre>

        <span>Agregar Juego</span>
        <pre>{{ nuevoFavorito.value | json }}</pre>
        <pre>{{ nuevoFavorito.valid | json }}</pre>
    </div>
</div>
